body, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.admission-section .container{
    margin-top:-70px;
    margin-bottom:-20px;
}
.programs-section .container{
    margin-top:-20px;
    margin-bottom:-20px;
}

/* Header Styles */
header {
    background-color: #900000;
    color: #fff;
    padding: 10px;
    height: 60px; /* Initial height of the header */
    transition: all 0.5s ease-in-out;
    
}

/* Additional styles for the header when scrolled */
header.scrolled {
    height: 60px; /* Height of the header when scrolled */
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 170px;
    transition: all 0.5s ease-in-out;
    font-size:16px;
}
nav ul li a.active{
    font-weight: bold;
}

nav ul.scrolled {
    margin-left: 60px;
}

nav ul li {
    display: flex;
    margin: 0 10px;
}

nav ul li a {
    padding: 20px;
    text-decoration: none;
    color:#fff;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header nav ul li a:hover::after, header nav ul li a.active::after {
    transform: scaleX(0.4);
    bottom: 10px;
    height: 2px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.apply-button {
    padding: 15px 20px;
    background-color:#333;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
}

.apply-button:hover{
    background-color:#535353;
    transition:ease-in-out 0.5s;
}
/* Hero Section Styles */
.hero-section {
    background-image: url("Harvard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    background-position: center top;
    text-align: center;
    padding: 250px 0;
}

.hero-content{
    transition: font-size 0.5s ease;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
    text-shadow: 2px 2px 4px rgba(1, 1, 1,1); 

}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color:white;
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 1);

}

.btn {
    display: inline-block;
    background-color: #900000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover, .sub-btn:hover{
    background-color: #750009;
    transition:ease-in-out 0.5s;
}

.sub-btn {
    display: inline-block;
    background-color: #900000;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor:pointer;
}

/* About Section Styles */
.about-section {
    background-color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    justify-content: center; /* Center aligns the content horizontally */
    align-items: center; /* Center aligns the content vertically */
    padding: 60px;
    text-align:center;
}

.about-section p{
    max-width: 100%;
    font-size:18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-section.animate {
    opacity: 1;
    transform: translateY(0);
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-image {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left:-110px;
}


/* Programs Section Styles */
.programs-section, .admission-section{
    background-color: #f5f5f5;
    padding: 40px 0;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.programs-section.animate, .admission-section.animate {
    opacity: 1;
    transform: translateY(0);
}

#program{
    min-width:980px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.social-media {
    display: flex;
    gap: 10px;
}

.social-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin: 5px 0;
}

/* Additional styles for Font Awesome icons */
.fab {
    font-size: inherit;
}
  

/* Apply Now Section */
.apply-now-section {
    padding: 40px 0;
}

.apply-now-section h2 {
    font-size: 28px;
    color: #990000;
    margin-bottom: 20px;
}

.apply-now-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.apply-now-section form {
    width: 100%;
}

.apply-now-section .form-group {
    margin-bottom: 20px;
}

.apply-now-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.apply-now-section input[type="text"], .apply-now-section input[type="email"], .apply-now-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-now-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-now-section textarea {
    height: 120px;
}

.apply-now-section .btn {
    background-color: #990000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.campus-life-section {
    overflow: hidden;
}

.campus-life-section img {
    width: 100%;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.campus-life-section .animate {
    opacity: 1;
    transform: translateY(0);
}

.campus-life-section .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
}

.campus-life-section .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Add styles for the logo */
.logo {
    position: fixed;
    top:9px;
    left: 20px;
    width: 140px;
    transition: all 0.5s ease-in-out;
}

/* Additional styles for the logo when scrolled */
.logo.scrolled {
    top: 10px;
    left: 10px;
    width: 50px;
}

ul li{
    margin-left:20px;
}

/*link styles*/
.academics-section a, .admissions-section a{
    color:#900000;
}

.program-section {
    margin-bottom:-25px;
}

.program .full-view {
    display: none;
}
.program.show .full-view {
    display: block;
}
.read-more {
    color:#990000;
    cursor: pointer;
}

.libraries-section{
    margin-top:-20px;
    margin-bottom:20px;
}