body, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    background-image: url("Harvard.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    background-position: center top;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #900000;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero Section Styles */
.hero-section {
    text-align: center;
    padding: 250px 0;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color:white;
}

.btn {
    display: inline-block;
    background-color: #900000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.sub-btn {
    display: inline-block;
    background-color: #900000;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor:pointer;
}

/* About Section Styles */
.about-section {
    background-color: #fff;
    padding: 40px 0;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Programs Section Styles */
.programs-section {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.program {
    margin-bottom: 20px;
}

.program h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Apply Now Section */
.apply-now-section {
    padding: 40px 0;
}

.apply-now-section h2 {
    font-size: 28px;
    color: #990000;
    margin-bottom: 20px;
}

.apply-now-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.apply-now-section form {
    width: 100%;
}

.apply-now-section .form-group {
    margin-bottom: 20px;
}

.apply-now-section label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.apply-now-section input[type="text"], .apply-now-section input[type="email"], .apply-now-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-now-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.apply-now-section textarea {
    height: 120px;
}

.apply-now-section .btn {
    background-color: #990000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
@media screen and (max-width: 767px) {
    body {
        background-size: cover;
    }
}